@font-face {
  font-family: "Vazir";
  src: url("../fonts/Vazir.eot") format("eot"),
    url("../fonts/Vazir.woff") format("woff"),
    url("../fonts/Vazir.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  direction: rtl;
  font-family: "Vazir" !important;
  font-size: 14px;
  padding: 50px;
}
b {
  color: rgb(238, 20, 20) !important;
}
a {
  color: #ff5100 !important;
}
code {
  font-family: monospace !important;
  font-size: 14px !important;
}
